extends base-with-specific-widgets

block title
  title= page.title + ' | ' + config.title

block content
    .post
        br
        br
        h1.post-title= page.title
        br
        br
        if theme.busuanzi == true
            script(src='https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js', async)
            span#busuanzi_container_page_pv= ' | '
        if theme.disqus
            a.disqus-comment-count(data-disqus-identifier=page.path, href=url_for(page.path) + '#disqus_thread')
        if theme.changyan
            a.ds-thread-count(href=url_for(page.path) + '#SOHUCS')
                span#changyan_count_unit(style='font-size: 15px; color: #6E7173;') 0
                span= ' ' + __('Comment')
            script(src='https://assets.changyan.sohu.com/upload/plugins/plugins.count.js', async)
        if theme.valine.enable
            a.disqus-comment-count( href=url_for(page.path) + '#vcomment')
                span.valine-comment-count(data-xid=url_for(page.path))
                span= ' ' + __('Comment')
        if page.toc
            div(class='clear')
                div(id='toc' class='toc-article')
                    div(class='toc-title')= __('contents')
                    != toc(page.content, {list_number: theme.toc_number})
        .post-content
            != page.content

        if page.comments
            include _partial/comments.pug